<section class="light" id="about">
    @if (hero is not null)
    {
        <img class="background" src="@(hero.Src)" alt="@(hero.Alt)" />
    }
    <h2>About Myself</h2>
    <div class="about-content">
    @if (aboutme is null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <p class="large">@aboutme.Description</p>
        <hr />
        <ul class="skills-list">
        @foreach (var skill in aboutme.Skills)
        {
            <li key="@skill">@skill</li>
        }
        </ul>
        <hr />
        <p class="about-detail">@aboutme.DetailOrQuote</p>
        <p class="about-detail">@aboutme.DetailOrQuote2</p>
        <p class="about-detail">@aboutme.DetailOrQuote3</p>
    }
    </div>
</section>

@code {
    [Parameter, EditorRequired]
    public required HttpClient Http { get; set; }

    [Parameter, EditorRequired]
    public required HeroImageService HeroImageService { get; set; }

    private AboutMe? aboutme;
    private HeroImage? hero;

    protected override async Task OnInitializedAsync()
    {
        aboutme = await Http.GetFromJsonAsync<AboutMe>("sample-data/aboutme.json");
        hero = await HeroImageService.GetHeroAsync(img => img.Name is "about");

    }
}
